<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Carrito</title>
</head>

<body>
    <h2 class="link-navbar" style="margin:20px;">Debe crear un carrito para empezar a comprar</h2>

    <form method="post" action="/api/carrito">
        <button type="submit" id=""
            style="color:white; background-color:rgb(92, 200, 92); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
            Crear nuevo carrito
        </button>
    </form>
</body>

</html>